.container {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  .top {
    width: 1300px;
  }

  .bottom {
    flex: 1;
    .title {
      font-size: 32px;
    }
    .expression {
      font-size: 32px;
      font-weight: 800;
    }
  }
}
