.wrapper {
}

.container {
  padding-top: 80px;
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    input {
    }
  }

  .top {
  }

  .bottom {
    flex: 1;
    .title {
      font-size: 32px;
    }
    .expression {
      font-size: 32px;
      font-weight: 800;
    }
  }
}
